<ion-header class="ion-no-border">
  <ion-toolbar class="tema">

    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">PERFIL</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding inihf">
  <ion-header>
    <img src="assets/img/avatarsvg.svg" style="width: 80%; height: 80%; padding-top: 10%; padding-left: 20%; " (click)="handleButtonClick()" />
  </ion-header>

  <descripcion style="">
    <h2>Nombre: </h2>
    <h2>Fecha de nacimiento</h2>
    <h2>Sexo</h2>
    <h2>TEST</h2>
    <h2>TEST</h2>
    <h2>TEST</h2>
  </descripcion>

</ion-content> 

