<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
    <ion-back-button slot="start" defaultHref="perfil" mode="ios" color="dark" text="Atras"></ion-back-button>
    <ion-title>Lista Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tema">

  <ion-list>
    <ion-list-header class="tema">
      Mascotas Registradas
    </ion-list-header>
  </ion-list>

  <ion-item class="tema" lines="inset" *ngFor="let mascota_rescatada of mascota_rescatadas">
    <ion-label>
      <h5>{{mascota_rescatada.tipo_animal}} Caracteristicas: ({{mascota_rescatada.sexo}}, {{mascota_rescatada.raza}})</h5>
    </ion-label>
    <ion-card >
      <img src="./assets/img/gato.jpg" />
      <ion-card-header>
        <ion-card-title>{{mascota_rescatada.tipo_animal}}</ion-card-title>
        <ion-card-subtitle class="ion-padding-top">Caracteristicas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{mascota_rescatada.sexo}},
        {{mascota_rescatada.raza}},
        {{mascota_rescatada.color}},
        {{mascota_rescatada.temperamento}},
        {{mascota_rescatada.tamano}}
      </ion-card-content>
    </ion-card>
    <div class="item-note">
      <ion-icon name="create" style="zoom: 2.0;"></ion-icon>
      <ion-icon name="trash" style="zoom: 2.0;"></ion-icon>
    </div>
  </ion-item>

</ion-content>
