

<ion-content class="ion-padding tema">

  <ion-img src="assets/img/login.png"></ion-img>
 
  <ion-item class="ion-margin-top tema">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label position="floating">Usuario</ion-label> 
    <ion-input></ion-input> 
  </ion-item>


  <ion-item class="ion-margin-top tema">
    <ion-icon name="key-outline" slot="start"></ion-icon>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input> 
  </ion-item>

  <ion-button [routerLink]="['/inicio']" color="warning" class="ion-margin letra-boton" expand="block">Ingresar</ion-button>

  <button (click)="registrate()" class="cta ion-margin">
    <span class="hover-underline-animation"> Registrate </span>
    <svg>
      
    </svg>
  </button>

  

</ion-content>
